<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876036184844-6i7eea8nsjup8ban0cb28cod22fluad2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876036184844-6i7eea8nsjup8ban0cb28cod22fluad2</string>
	<key>API_KEY</key>
	<string>AIzaSyDtqa1cmDkkMPoBp_mQKp8c2BrXAydSKME</string>
	<key>GCM_SENDER_ID</key>
	<string>876036184844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.malysh.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-mevhen</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-mevhen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876036184844:ios:d6044b13cd9a457e22c729</string>
</dict>
</plist>